@import url("https://use.typekit.net/ctb0icl.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Playfair+Display:ital@0;1&display=swap');

html,body{
  margin:0;
  padding:0;
}

.container {
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background: #FFF;
  height: 100vh;

  .nav {

    display: flex;
    padding: 48px 48px 0px 48px;
    align-items: flex-end;
    gap: 17px;
    align-self: stretch;
  
    .message {
      flex: 1 0 0;
      color: #1F1F1F;
      font-family: mixta-pro, serif;
      font-weight: 400;
      font-style: italic;
      font-size: 28px;
      line-height: 62%; /* 17.36px */
    }
  
    .link {
      color: #1F1F1F;
      text-align: right;
      font-family: ff-zwo-web-pro, sans-serif;
      font-weight: 100;
      font-style: normal;
      font-size: 35px;
      line-height: 67%; /* 23.45px */
      font-variant: all-small-caps;
      letter-spacing: -1.75px;
    }
  }

  .myname {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 152px;
    position: relative;
    box-sizing: border-box;
    height: 46vh;

    .rudy {
      color: #1f1f1f;
      font-size: 171px;
      font-family: mixta-sharp, serif;
      font-weight: 900;
      font-style: normal;
      line-height: 144px;
      letter-spacing: -9px;
      text-transform: none;
    }
    
    .pizarro {
      color: #1f1f1f;
      font-size: 138px;
      font-style: italic;
      font-family: 'DM Serif Display', serif;
      font-weight: 400;
      line-height: 234px;
      letter-spacing: -6px;
      text-transform: none;
    }
  }

  .case-Studies {  
  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;

    .case {
      display: flex;
      padding-left: 0px;
      align-items: center;
      gap: 40px;
      flex: 1 0 0;
      align-self: stretch;
      color: #1F1F1F;
      font-family: Zwo Pro;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 22px */
      font-variant: all-small-caps;
      letter-spacing: 1.32px;
      margin: 0 48px 0px 48px;
      padding-left: 48px;
    }

    .tile {
      display: flex;
      flex-direction: row;
      padding: 16px 0px;
      align-items: center;
      gap: 24px;
      align-self: stretch;
      color: #1F1F1F;
      font-family: ff-zwo-web-pro, sans-serif;
      font-weight: 100;
      font-style: normal;
      font-size: 46px;
      line-height: normal;
      font-variant: all-small-caps;
      letter-spacing: -0.92px;
      margin: 0 48px 0px 48px;
    }

    .line {
      height: 1px;
      flex: 1 0 0;
      background: #1F1F1F;
    }

    .one { 
      border-radius: 2px;
      border-left: 8px solid #4AFFC8;
      background: linear-gradient(270deg, #4AFFC8 0%, rgba(255, 255, 255, 0.00) 100%);
    }
    
    .two { 
      border-radius: 2px;
      border-left: 8px solid #A69EFF;
      background: linear-gradient(270deg, #A69EFF 0%, rgba(255, 255, 255, 0.00) 100%);
    }
    
    .three { 
      border-radius: 2px;
      border-left: 8px solid #4A92FF;
      background: linear-gradient(270deg, #4A92FF 0%, rgba(255, 255, 255, 0.00) 100%);
      margin: 0 48px 48px 48px;
    }
  }
}